@tailwind base;
@tailwind components;
@tailwind utilities;

/* Estilos básicos */
body {
  background-color: #fff;
  color: #333;
}

/* Modo oscuro */
html.dark body {
  background-color: #1a202c;
  color: #edf2f7;
}

/* Ejemplo de cómo usar Tailwind en otros elementos */
.bg-gray-800 {
  background-color: #2d3748;
}

.text-gray-100 {
  color: #f7fafc;
}

.dark .bg-gray-800 {
  background-color: #1a202c;
}

.dark .text-gray-100 {
  color: #edf2f7;
}
